---
import Layout from "../layouts/Layout.astro";
import Avatar from "../components/Avatar.astro";
import avatarImage from "../../public/avatar.webp";
import Card from "../components/Card.astro";
---

<Layout title="XIJIANHAO">
  <main>
    <Avatar image={avatarImage} />
    <div class="info">
      <span>席剑豪</span>
    </div>
    <ul class="card-list">
      <Card title="我的博客" href="/blog" />
      <Card title="记录生活" href="/plog" />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 1000px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .info {
    margin-bottom: 20px;
  }
  .card-list {
    display: flex;
    li {
      flex: 1;
      margin-right: 20px;
      &:last-child {
        margin-right: 0px;
      }
    }
  }
</style>
